<!DOCTYPE html>
<html>
<head>
<title>{{ title }} - Page</title>
</head>
<body>
<div class ="navbar">
        <a>&nbsp</a> <a>&nbsp</a>
        <button onclick="{{ url_for ('home') }}">HOME</button>
        <a>&nbsp</a><a>&nbsp</a>
	<button onclick="{{ url_for ('register') }}">REGISTER</button>
	<a>&nbsp</a><a>&nbsp</a>
	<button onclick="{{ url_for ('login') }}">LOGIN</button>
	<a>&nbsp</a><a>&nbsp</a>
	<button onclick="{{ url_for ('books') }}">BOOKS</button>
	<a>&nbsp</a><a>&nbsp</a>
	<button onclick="{{ url_for ('myaccount') }}">MY ACCOUNT</button>
	<a>&nbsp</a><a>&nbsp</a>
	<button onclick="{{ url_for ('logout') }}">LOGOUT</button>
	<a>&nbsp</a><a>&nbsp</a>
</div>
{% block content %}{% endblock %}
</body>
</html>

